---
layout: default
refactor: true
---

{% include lang.html %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  <h1>Blueprint</h1>
  <p>
    Blueprint is a microservice development toolchain designed to make it easier for researchers to easily prototype infrastructure for microservice applications and compile those prototypes into a variety of benchmark applications.
  </p>
  <p>

  Blueprint is currently in Beta and is available on our <a href="https://github.com/Blueprint-uServices">github</a>.
  </p>
  <p>
    In the meantime, please join our <a href="https://groups.google.com/g/blueprint-uservices">mailing group</a> and our <a href="https://join.slack.com/t/blueprint-uservices/shared_invite/zt-2f2ku60b8-vy8hDPWbkwLKSMalyIUzPA">slack workspace</a>.
  </p>
</div>
